<div>
  <div class="container">
    <form class="form-inline well well-sm clearfix">
      <span class="glyphicon glyphicon-search"></span>
      <input
              type="text"
              placeholder="Search ..."
              ng-model="listCtrl.searchFilter"
              class="form-control">
      <a href="/#!/quiz" class="btn btn-warning pull-right"><strong>Start Quiz</strong></a>
    </form>
    <div class="row">

      <div ng-repeat="turtle in listCtrl.turtles | filter:listCtrl.searchFilter" class="col-sm-6">
        <div class="well">
          <div class="row">
            <div class="col-sm-6">
              <img class="img-rounded img-responsive" ng-src="/app/assets/images/turtles/{{turtle.type}}.jpg" alt="{{turtle.type}}">
            </div>
            <div class="col-sm-6">
              <p><strong>Type: </strong>{{turtle.type}} </p>
              <p><strong>Size: </strong>{{turtle.size}} </p>
              <p><strong>Locations: </strong>{{turtle.locations}} </p>
              <p><strong>Lifespan: </strong>{{turtle.lifespan}} </p>
              <p><strong>Diet: </strong>{{turtle.diet}} </p>
              <button type="button" class="btn btn-default pull-right" ng-click="listCtrl.open(turtle)"><strong>Learn More</strong></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="well">
    <script type="text/ng-template" id="modal.html">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{modalCtrl.turtleSel.type}}</h3>

        <img class="img-rounded img-responsive"
             ng-src="/app/assets/images/turtles/{{modalCtrl.turtleSel.type}}.jpg"
             alt="{{modalCtrl.turtleSel.type}}">

        <p><strong>Type: </strong>{{modalCtrl.turtleSel.type}} </p>
        <p><strong>Size: </strong>{{modalCtrl.turtleSel.size}} </p>
        <p><strong>Locations: </strong>{{modalCtrl.turtleSel.locations}} </p>
        <p><strong>Lifespan: </strong>{{modalCtrl.turtleSel.lifespan}} </p>
        <p><strong>Diet: </strong>{{modalCtrl.turtleSel.diet}} </p>
      </div>
      <div class="modal-body" id="modal-body">
        <p><strong>Description: </strong>{{modalCtrl.turtleSel.description}} </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modalCtrl.ok()">Close</button>
        <button class="btn btn-primary" type="button" ng-click="modalCtrl.cancel()">Cancel</button>
      </div>
    </script>
  </div>
</div>

