.answer-correct {
  padding: 15px;
  border-radius: 5px;
  background-color: #dff0d8;
}

.answer-wrong {
  padding: 15px;
  border-radius: 5px;
  background-color:  #f2dede;
}

.answer-not-selected {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #bbb;
}

.answer:hover {
  cursor: pointer;
}

.img-answer {
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 350px;
  width: 100%;
  overflow: hidden;
}

.img-answer-correct {
  border: 3px solid #5ea640;
}
.img-answer-wrong {
  border: 3px solid #b74848;
}
